<h1>Destroy <%= @user.first_name%> <%= @user.last_name %>??</h1>
<a href="/users/delete/<%=@user.id%>"><button>YES</button></a>
<a href="/users/index"><button>NO</button></a>
<a href="/users/show/<%= @user.id%>"><button>View Details</button></a>