<h1>Edit <%=@user.first_name%> <%= @user.last_name%></h1>
<form action='/users/update/<%=@user.id%>' method='post'>
	<div id='formLabels'>
		<input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
		<label class='labeler'>First Name:</label>
		<label class='labeler'>Last Name:</label>
		<label class='labeler'>Email:</label>
		<label class='labeler'>Password:</label>
	</div>
	<div id='formInputs'>
		<input type='text' name='first_name' placeholder='<%=@user.first_name%>' value='<%=@user.first_name%>'><br>
		<input type='text' name='last_name' placeholder='<%=@user.last_name%>' value='<%=@user.last_name%>'><br>
		<input type='text' name='email' placeholder='<%=@user.email%>' value='<%=@user.email%>'><br>
		<input type='password' name='password' placeholder='*********************' value='<%=@user.password%>'><br>
	</div>
	<br>
	<input type='submit'>
</form>