<h1>Listing users</h1>

<table>
	<thead>
		<tr>
			<th>First</th>
			<th>Last</th>
			<th>Email</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.first_name %></td>
				<td><%= user.last_name %></td>
				<td><%= user.email %></td>
				<td>
					<a href="/users/show/<%=user.id%>">Show</a>
					<a href="/users/edit/<%=user.id%>">Edit</a>
					<a href="/users/destroy/<%=user.id%>">Destroy</a>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<a href="/users/new"><button>Create New User</button></a>

