<h1>New User</h1>
<form action='/users/create' method='post'>
	<div id='formLabels'>
		<input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
		<label class='labeler'>First Name:</label>
		<label class='labeler'>Last Name:</label>
		<label class='labeler'>Email:</label>
		<label class='labeler'>Password:</label>
	</div>
	<div id='formInputs'>
		<input type='text' name='first_name'><br>
		<input type='text' name='last_name'><br>
		<input type='text' name='email'><br>
		<input type='password' name='password'><br>
	</div>
	<br>
	<input type='submit'>
</form>