Name: <%= @user.first_name %> <%= @user.last_name %><br>
Email: <%= @user.email %><br>
<a href="/users/index"><button>All Users</button></a>
<a href="/users/edit/<%=@user.id%>"><button>Edit <%=@user.first_name%> <%=@user.last_name%></button></a>
