// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#formLabels{
	width: 100px;
	display: inline-block;
}

#formInputs{
	width: 200px;
	display: inline-block;
}